# R & RStudio
.Rhistory
.RData
.RDataTmp
.Ruserdata
.Rproj.user/
*.Rproj

# Data and outputs
data/*
outputs/*

!data/.gitkeep
!outputs/.gitkeep

# Temporary files
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
cache/
tmp/

# Quarto / RMarkdown
*_cache/
*_files/

# Shiny deployment
rsconnect/

# Large local exports
*.csv
*.xlsx
*.parquet
*.rds

# VS Code
.vscode/

# Environment files
.env
.env.*

# Dashboard images
!outputs/Dashboard_ui.png
!outputs/Dashboard_ui2.png